<html>
    <head>
        <title> CLACIO OVERHEARD</title>
    </head>

    <body>
       
        <div>
            <h1> <a href="/"> CLACIO OVERHEARD </a> </h1>
        </div>

        <div>
            <p> published: 23.07.2020, 11:54 </p>
            <h2> <a href=""> Hello! </a> </h2>
            <p> Hello! Welcome to my blog. Feel free to read my posts. Thank you!</p>
        </div>

        <div>
            <p> published: 23.07.2020, 11:55 </p>
            <h2> <a href=""> Get to know me! </a> </h2>
            <p> Hi! I am Patrick Anndwin Clacio, a third year student in PUP-Manila. Taking up Bachelor of Science in Computer Science.</p>
        </div>

    </body>
    
</html>